<h1 class="text-center mt-4">All the gardens</h1>
<table class="table mt-4">
  <thead class="thead-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Banner_Url</th>
      <th colspan="3"></th>
      <!-- <th scope="col">Handle</th> -->
  </thead>
  <tbody>
    <% count = 0 %>
    <% @gardens.each do |garden| %>
    <% count+= 1 %>
    <tr>
      <th scope="row"> <%= count %></th>
      <td> <%= garden.name %></td>
      <td> <%= garden.banner_url %></td>
      <td><%= link_to 'Show', garden %></td>
      <td><%= link_to 'Edit', edit_garden_path(garden) %></td>
      <td><%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Garden', new_garden_path %>
